
body {

  background-color: #f5f5f5;
}

.form input{
  border-radius: 0px;
}

.redius_top input{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.redius_bottom input{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.agreement p{
  height: 50vh;
overflow-y: scroll;
}
.agreement_table{
  height: 50vh;
overflow-y: scroll;
}